@import "../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  font-family: "sahel";
  font-weight: bold;
}
.sahel-b {
  font-family: "sahel bold";
}
.sahel-bl {
  font-family: "sahel black";
}
body {
  background-color: $gray-200;
}
.toggle-night-mode-bg-dark {
  background-color: $dark;
  width: 3.5 * 2rem;
  height: 2 * 2rem;
  border-radius: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.toggle-night-mode-bg-light {
  background-color: $white;
  width: 3.5 * 2rem;
  height: 2 * 2rem;
  border-radius: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.circle-toggle-night-mode-bg-light {
  background-color: $light;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  right: 0.3rem;
  transition: all 300ms ease-in-out;
}
.circle-toggle-night-mode-bg-dark {
  background-color: $dark;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  right: 3.7rem;
  transition: all 300ms ease-in-out;
}