@import "../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  font-family: "sahel";
  font-weight: bold;
}
.sahel-b {
  font-family: "sahel bold";
}
.sahel-bl {
  font-family: "sahel black";
}
.brand-logo-img {
  width: 2rem;
  cursor: pointer;
}
.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  .profile-icon {
    transition: all 170ms ease-in-out;
  }
  &:hover {
    .profile-icon {
      color: $blue-400;
    }
  }
}
